*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    overflow-x: hidden;
    background: #ECF3FF;
    position: relative;
    margin-top: 60px;
}

.facebook-logo{
    height: 40px;
    width: 40px;
}

.profile-logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbar{
    margin-top: -60px;
    position: fixed;
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    color: black;
    z-index: 10;
}

.middle{
    margin-left: 10%;
}
.middle label{
    padding: 11px 40px;
    margin: 0 5px;
    border-radius: 6px;
}

.middle label:hover{
    background: #ECF3FF;
}

a{
    text-decoration: none;
    color: black;
}

.middle label a i{
    font-size: 20px;
}

div label a i{
    font-size: 18px;
}

.left label a {
    margin-left: 10px;
    padding: 12px 15px;
    background: #ECF3FF;
    border-radius: 50%;
}

.right label a {
    margin-right: 10px;
    padding: 12px 15px;
    background: #ECF3FF;
    border-radius: 50%; 
}

label.messenger{
    position: relative;
}

.notification{
    position: absolute;
    top: -17px;
    right: 5px;
    color: white;
    background: rgb(196, 1, 1);
    padding: 3px 5px;
    border-radius: 50%;
    font-size: 11px;
}

/* main*/

.left-wing{
    padding: 20px;
    position: fixed;
    overflow: scroll;
    height: 100%;
}

.middle-wing{
    height: 500px;
    background: #fff;
    margin-left: 25%;
}

.item-left{
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
}

.item-left:hover{
    background: #d3d9e2;
}

.profile-logo-left{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.title-left{
    padding: 0 10px;
}

div .item-left i{
    font-size: 20px;
}

div.status-section{
    height: 300px;
    width: 50%;
    background: #d3d9e2;
}


